* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}

body {
    background-color: #8c52ff;
}

img {
    width: 490px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    background-color: rgb(162 255 160 / 89%);
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 70px;

}

h1 {
    margin-left: 50px;
    color: #000000ce;
    margin-top: 13px;
    margin-bottom: 18px;
}

input {
    background: #c9f5c2;
    border-radius: 13px;
    margin-left: 63px;
    margin-bottom: 10px;
    width: 127px;
    height: 33px;
    border: none;
    font-size: larger;
    color: #171b1f;

}


button {
    background-color: rgb(11, 234, 55);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 35px;
    width: 365px;
    height: 48px;
    font-size: larger;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 41px;
}